<% if(typeof errs!='undefined'){ %>
    <%for(let err of errs){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=err.mssg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <%}; %>
<%} %>