<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid row col-12 col-sm-6 col-md-3 cust-div">
        <form action="/log" method="POST" class="row g-3 form-container">
            <div>
                <h4>Update Class Link</h4>
            </div>
            <div class="col-auto">
                <label for="il" class="visually-hidden">Password</label>
                <input type="text" class="form-control" name="hi" id="il" placeholder="">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Update</button>
            </div>
        </form>
    </div>
</body>

</html>